In [186]:
#Positive 60 Degrees Cleaning

In [193]:
import pandas as pd
import numpy as np

In [194]:
s = pd.read_csv('../python_decal_fall25/NOAA_Solar_Calculations - 60 Latitude.csv')
#Importing data for +60 degrees Latitude as a Pandas Dataframe

In [195]:
s.shape

(366, 35)

In [196]:
print(s.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [197]:
s.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),60,NaN,1/1/10,12:00:00,2455198.0,0.100014,NaN,281.036270,3957.926938,...,15:04:50,362.565519,716.450924,-0.887269,82.989451,7.010549,0.121634,7.132184,179.177033,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455199.0,0.100041,NaN,282.021917,3958.912538,...,15:06:18,364.560517,715.983531,-1.004117,82.902769,7.097231,0.120346,7.217577,179.067877,NaN
2,Time Zone (+ to E),0,NaN,1/3/10,12:00:00,2455200.0,0.100068,NaN,283.007564,3959.898138,...,15:07:50,366.716144,715.521895,-1.119526,82.808590,7.191410,0.118974,7.310384,178.959803,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455201.0,0.100096,NaN,283.993212,3960.883738,...,15:09:27,369.028520,715.066508,-1.233373,82.706953,7.293047,0.117525,7.410571,178.852905,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455202.0,0.100123,NaN,284.978859,3961.869339,...,15:11:08,371.493584,714.617848,-1.345538,82.597905,7.402095,0.116005,7.518099,178.747276,NaN

In [198]:
s = s.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])
#Dropping unnecessary data

In [199]:
s.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,82.989451,7.132184,179.177033
1,1/2/10,82.902769,7.217577,179.067877
2,1/3/10,82.808590,7.310384,178.959803
3,1/4/10,82.706953,7.410571,178.852905
4,1/5/10,82.597905,7.518099,178.747276

In [200]:
s = s.iloc[::7]
s = s.iloc[0:52]
#Extracting only one data point per week

In [201]:
print(len(s))
#Checking that the dataset is as long as it should be

52

In [202]:
s.to_csv('Sixty_Degrees_Longitude.csv', index=False)
#Saving cleaned data to a new file

In [203]:
#Negative 60 Degrees Cleaning

In [211]:
ns = pd.read_csv('../python_decal_fall25/NOAA_Solar_Calculations - -60 Latitude.csv')
#Importing data for -60 degrees Latitude as a Pandas Dataframe

In [212]:
ns.shape

(366, 35)

In [213]:
print(ns.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [214]:
ns.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),-60,NaN,1/1/10,12:00:00,2455198.0,0.100014,NaN,281.036270,3957.926938,...,21:23:39,1120.186513,716.450924,-0.887269,37.018988,52.981012,0.012162,52.993174,1.356734,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455199.0,0.100041,NaN,282.021917,3958.912538,...,21:23:00,1117.951169,715.983531,-1.004117,37.108032,52.891968,0.012201,52.904169,1.533267,NaN
2,Time Zone (+ to E),0,NaN,1/3/10,12:00:00,2455200.0,0.100068,NaN,283.007564,3959.898138,...,21:22:15,1115.539697,715.521895,-1.119526,37.204829,52.795171,0.012244,52.807415,1.706909,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455201.0,0.100096,NaN,283.993212,3960.883738,...,21:21:25,1112.957228,715.066508,-1.233373,37.309323,52.690677,0.012290,52.702967,1.877428,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455202.0,0.100123,NaN,284.978859,3961.869339,...,21:20:29,1110.209090,714.617848,-1.345538,37.421453,52.578547,0.012340,52.590887,2.044601,NaN

In [215]:
ns = ns.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])
#Dropping unnecessary data

In [216]:
ns.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,37.018988,52.993174,1.356734
1,1/2/10,37.108032,52.904169,1.533267
2,1/3/10,37.204829,52.807415,1.706909
3,1/4/10,37.309323,52.702967,1.877428
4,1/5/10,37.421453,52.590887,2.044601

In [217]:
ns = ns.iloc[::7]
ns = ns.iloc[0:52]
#Extracting only one data point per week

In [218]:
print(len(s))
#Checking that the dataset is as long as it should be

52

In [219]:
ns.to_csv('Negative_Sixty_Degrees_Longitude.csv', index=False)
#Saving cleaned data to a new file

In [220]:
#Zero Degrees Longitude Cleaning

In [222]:
zs = pd.read_csv('../python_decal_fall25/NOAA_Solar_Calculations - 0 Latitude.csv')
#Importing data for +60 degrees Latitude as a Pandas Dataframe

In [223]:
zs.shape

(366, 35)

In [229]:
print(zs.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [230]:
zs.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),0,NaN,1/1/10,12:00:00,2455198.0,0.100014,NaN,281.036270,3957.926938,...,18:07:10,727.238815,716.450924,-0.887269,23.002454,66.997546,0.006850,67.004396,177.909343,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455199.0,0.100041,NaN,282.021917,3958.912538,...,18:07:38,727.234132,715.983531,-1.004117,22.919507,67.080493,0.006822,67.087316,177.624253,NaN
2,Time Zone (+ to E),0,NaN,1/3/10,12:00:00,2455200.0,0.100068,NaN,283.007564,3959.898138,...,18:08:06,727.229070,715.521895,-1.119526,22.829509,67.170491,0.006792,67.177284,177.339293,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455201.0,0.100096,NaN,283.993212,3960.883738,...,18:08:33,727.223636,715.066508,-1.233373,22.732492,67.267508,0.006760,67.274269,177.054465,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455202.0,0.100123,NaN,284.978859,3961.869339,...,18:08:59,727.217840,714.617848,-1.345538,22.628492,67.371508,0.006726,67.378234,176.769774,NaN

In [231]:
zs = zs.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])
#Dropping unnecessary data

In [232]:
zs.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,23.002454,67.004396,177.909343
1,1/2/10,22.919507,67.087316,177.624253
2,1/3/10,22.829509,67.177284,177.339293
3,1/4/10,22.732492,67.274269,177.054465
4,1/5/10,22.628492,67.378234,176.769774

In [233]:
zs = zs.iloc[::7]
zs = zs.iloc[0:52]
#Extracting only one data point per week

In [235]:
print(len(zs))
#Checking that the dataset is as long as it should be

52

In [236]:
zs.to_csv('Zero_Degrees_Longitude.csv', index=False)
#Saving cleaned data to a new file