In [59]:
#Positive 60 Degrees Cleaning

In [60]:
import pandas as pd
import numpy as np

In [61]:
#Importing data for +60 degrees Latitude as a Pandas Dataframe
s = pd.read_csv('NOAA_Solar_Calculations - 60 Latitude.csv')

In [62]:
s.shape

(366, 35)

In [63]:
print(s.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [64]:
s.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),60,NaN,1/1/10,12:00:00,2455198.0,0.100014,NaN,281.036270,3957.926938,...,15:04:50,362.565519,716.450924,-0.887269,82.989451,7.010549,0.121634,7.132184,179.177033,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455199.0,0.100041,NaN,282.021917,3958.912538,...,15:06:18,364.560517,715.983531,-1.004117,82.902769,7.097231,0.120346,7.217577,179.067877,NaN
2,Time Zone (+ to E),0,NaN,1/3/10,12:00:00,2455200.0,0.100068,NaN,283.007564,3959.898138,...,15:07:50,366.716144,715.521895,-1.119526,82.808590,7.191410,0.118974,7.310384,178.959803,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455201.0,0.100096,NaN,283.993212,3960.883738,...,15:09:27,369.028520,715.066508,-1.233373,82.706953,7.293047,0.117525,7.410571,178.852905,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455202.0,0.100123,NaN,284.978859,3961.869339,...,15:11:08,371.493584,714.617848,-1.345538,82.597905,7.402095,0.116005,7.518099,178.747276,NaN

In [65]:
#Dropping unnecessary data 
s = s.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])

In [66]:
s.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,82.989451,7.132184,179.177033
1,1/2/10,82.902769,7.217577,179.067877
2,1/3/10,82.808590,7.310384,178.959803
3,1/4/10,82.706953,7.410571,178.852905
4,1/5/10,82.597905,7.518099,178.747276

In [67]:
#Extracting only one data point per week 
s = s.iloc[::7]
s = s.iloc[0:52]

In [68]:
#Checking that the dataset is as long as it should be
print(len(s))

52

In [69]:
#Saving cleaned data to a new file 
s.to_csv('Sixty_Degrees_Latitude.csv', index=False)

In [70]:
#Negative 60 Degrees Latitude Cleaning

In [71]:
#Importing data for -60 degrees Latitude as a Pandas Dataframe
ns = pd.read_csv('NOAA_Solar_Calculations - -60 Latitude.csv')

In [72]:
ns.shape

(366, 35)

In [73]:
print(ns.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [74]:
ns.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),-60,NaN,1/1/10,12:00:00,2455198.0,0.100014,NaN,281.036270,3957.926938,...,21:23:39,1120.186513,716.450924,-0.887269,37.018988,52.981012,0.012162,52.993174,1.356734,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455199.0,0.100041,NaN,282.021917,3958.912538,...,21:23:00,1117.951169,715.983531,-1.004117,37.108032,52.891968,0.012201,52.904169,1.533267,NaN
2,Time Zone (+ to E),0,NaN,1/3/10,12:00:00,2455200.0,0.100068,NaN,283.007564,3959.898138,...,21:22:15,1115.539697,715.521895,-1.119526,37.204829,52.795171,0.012244,52.807415,1.706909,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455201.0,0.100096,NaN,283.993212,3960.883738,...,21:21:25,1112.957228,715.066508,-1.233373,37.309323,52.690677,0.012290,52.702967,1.877428,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455202.0,0.100123,NaN,284.978859,3961.869339,...,21:20:29,1110.209090,714.617848,-1.345538,37.421453,52.578547,0.012340,52.590887,2.044601,NaN

In [75]:
#Dropping unnecessary data 
ns = ns.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])

In [76]:
ns.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,37.018988,52.993174,1.356734
1,1/2/10,37.108032,52.904169,1.533267
2,1/3/10,37.204829,52.807415,1.706909
3,1/4/10,37.309323,52.702967,1.877428
4,1/5/10,37.421453,52.590887,2.044601

In [77]:
#Extracting only one data point per week 
ns = ns.iloc[::7]
ns = ns.iloc[0:52]

In [78]:
#Checking that the dataset is as long as it should be
print(len(s))

52

In [79]:
#Saving cleaned data to a new file 
ns.to_csv('Negative_Sixty_Degrees_Latitude.csv', index=False)

In [80]:
#Zero Degrees Latitude Cleaning

In [81]:
#Importing data for Zero degrees Latitude as a Pandas Dataframe
zs = pd.read_csv('NOAA_Solar_Calculations - 0 Latitude.csv')

In [82]:
zs.shape

(366, 35)

In [83]:
print(zs.columns)

Index(['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.',
       'Unnamed: 1', 'Unnamed: 2', 'Date', 'Time (hrs past local midnight)',
       'Julian Day', 'Julian Century', 'Unnamed: 7',
       'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)',
       'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)',
       'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)',
       'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)',
       'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)',
       'Solar Noon (LST)', 'Sunrise Time (LST)', 'Sunset Time (LST)',
       'Sunlight Duration (minutes)', 'True Solar Time (min)',
       'Hour Angle (deg)', 'Solar Zenith Angle (deg)',
       'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)',
       'Solar Elevation corrected for atm refraction (deg)',
       'Solar Azimuth Angle (deg cw from N)', 'Unnamed: 34'],
      dtype='object')

In [84]:
zs.head()

,NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.,Unnamed: 1,Unnamed: 2,Date,Time (hrs past local midnight),Julian Day,Julian Century,Unnamed: 7,Geom Mean Long Sun (deg),Geom Mean Anom Sun (deg),...,Sunset Time (LST),Sunlight Duration (minutes),True Solar Time (min),Hour Angle (deg),Solar Zenith Angle (deg),Solar Elevation Angle (deg),Approx Atmospheric Refraction (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N),Unnamed: 34
0,Latitude (+ to N),0,NaN,1/1/10,12:00:00,2455197.88,0.100010,NaN,280.913064,3957.803738,...,21:07:07,727.239373,536.509728,-45.872568,50.139297,39.860703,0.019295,39.879998,120.594365,NaN
1,Longitude (+ to E),0,NaN,1/2/10,12:00:00,2455198.88,0.100038,NaN,281.898711,3958.789338,...,21:07:35,727.234739,536.041650,-45.989587,50.209513,39.790487,0.019343,39.809831,120.439286,NaN
2,Time Zone (+ to E),3,NaN,1/3/10,12:00:00,2455199.88,0.100065,NaN,282.884359,3959.774938,...,21:08:02,727.229723,535.579268,-46.105183,50.276205,39.723795,0.019389,39.743184,120.275901,NaN
3,Local Time (hrs),12:00:00,NaN,1/4/10,12:00:00,2455200.88,0.100092,NaN,283.870006,3960.760538,...,21:08:29,727.224335,535.123073,-46.219232,50.339332,39.660668,0.019432,39.680100,120.104303,NaN
4,Year,2010,NaN,1/5/10,12:00:00,2455201.88,0.100120,NaN,284.855653,3961.746139,...,21:08:56,727.218584,534.673547,-46.331613,50.398855,39.601145,0.019473,39.620619,119.924588,NaN

In [85]:
#Dropping unnecessary data 
zs = zs.drop(columns = ['NOAA Solar Calculations - Change any of the highlighted cells to get solar position data for that location and time-of-day for a year.', 'Unnamed: 1', 'Unnamed: 2', 'Time (hrs past local midnight)', 'Julian Day', 'Julian Century', 'Unnamed: 7', 'Geom Mean Long Sun (deg)', 'Geom Mean Anom Sun (deg)', 'Sunset Time (LST)', 'Sunlight Duration (minutes)', 'True Solar Time (min)', 'Hour Angle (deg)', 'Solar Elevation Angle (deg)', 'Approx Atmospheric Refraction (deg)', 'Unnamed: 34', 'Eccent Earth Orbit', 'Sun Eq of Ctr', 'Sun True Long (deg)', 'Sun True Anom (deg)', 'Sun Rad Vector (AUs)', 'Sun App Long (deg)', 'Mean Obliq Ecliptic (deg)', 'Obliq Corr (deg)', 'Sun Rt Ascen (deg)', 'Sun Declin (deg)', 'var y', 'Eq of Time (minutes)', 'HA Sunrise (deg)', 'Solar Noon (LST)', 'Sunrise Time (LST)'])

In [86]:
zs.head()

,Date,Solar Zenith Angle (deg),Solar Elevation corrected for atm refraction (deg),Solar Azimuth Angle (deg cw from N)
0,1/1/10,50.139297,39.879998,120.594365
1,1/2/10,50.209513,39.809831,120.439286
2,1/3/10,50.276205,39.743184,120.275901
3,1/4/10,50.339332,39.680100,120.104303
4,1/5/10,50.398855,39.620619,119.924588

In [87]:
#Extracting only one data point per week
zs = zs.iloc[::7]
zs = zs.iloc[0:52]

In [88]:
#Checking that the dataset is as long as it should be
print(len(zs))

52

In [89]:
#Saving cleaned data to a new file 
zs.to_csv('Zero_Degrees_Latitude.csv', index=False)